*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    min-height: 500px;
    padding: 10px;
    margin-top: 50px; 
  
}
div#display{
    border: 1px solid black;
    height: 10vh;
    margin-bottom: 1px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 12px;
    border-bottom: 2px solid black;
}

div#calculator{
   /*  height: 39vh; */
    border: 2px solid black;
    padding-bottom: 10px;
}
button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;

}
div#calculator-body{
    border: 2px solid black;
    padding: 10px;
}

div.row{
    display: flex;
    justify-content: center;
    padding: 2px;
    gap: 5px;
}